.btn {
    border: 0;
    color: var(--light);
    cursor: pointer;
    &.btn-exit,
    &.btn-menu {
        background: transparent;
        height: 100%;
        position: relative;
        width: 100%;
        &:hover {
            &::before,
            &::after {
                background: var(--primary-light)
            }
        }
    }
    &.btn-menu {
        &::before,
        &::after {
            background: var(--light);
            content: "";
            display: block;
            height: 0.3em;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: 300ms ease;
            width: 3em;
        }
        &::before {
            top: 40%;
        }
        &::after {
            bottom: 40%;
        }
        &:hover {
            &::before,
            &::after {
                background: var(--primary-dark)
            }
            &::before {
                left: 55%;
            }
            &::after {
                left: 45%;
            }
        }
    }
    &.btn-exit {
        transition: 300ms ease;
        width: 4em;
        height: 4em;
        &:hover {
            transform: scale(1.2);
        }
        &::before,
        &::after {
            background: var(--light);
            content: "";
            display: block;
            height: 0.3em;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 3em;
        }
        &::before {
            left: 25%;
            top: initial;
            transform: rotate(-45deg);
        }
        &::after {
            bottom: initial;
            left: 25%;
            transform: rotate(45deg);
        }
    }
}