:root {
  --primary-light: #4CE7DE;
  --primary-dark: #00CCBF;
  --light:#f3f2e8;
  --light-dark:#333333;
  --dark-dark: #222222;
  --grey: #404042;
  --emergency: #FF5F5D;
  --egg-white: #F0E4B2;
  
  * {
      box-sizing: border-box;
    }
  
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html,
    body {
      margin: 0;
      height: 100%;
      max-width: 100vw;
      overflow-x: hidden;
    }

   .roboto {
    font-family: var(--font-roboto);
   }
}